.header {
    background-image: url("../images/Upravlenie_proektami.jpg");
    height: 40vh; /* Уменьшите высоту */
    background-repeat: no-repeat;
    background-size: 50% 100%; /* Растягивает изображение по ширине и высоте */
    background-position: center; /* Центрирование изображения */
    width: 100%; /* Установка ширины на 100%, чтобы занять всю ширину контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Центрирование содержимого по горизонтали */
    margin: 0 auto; /* Центрирование элемента */
}


table, th, td {
    border: 1px solid;
}

h1, h2, h3 {
    font-size: 20px;
}

body {
    font: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    /*background: blue;*/
}

.login_container {
    margin-top: 15px;
    padding: 10px;
    background: aliceblue;
    width: 20%;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 54, 102, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center
}

.login_wrapper {
    margin: 0 auto;
}

.main_container {
    margin-top: 15px;
    align-content: center;
    padding: 10px;
    margin-left: 5px;
    width: 80%;
    box-shadow: 0 0 10px rgba(20, 54, 102, 0.2);
    background-color: rgba(65, 155, 249, 0.2);
    border-radius: 5px;
}

input[type=submit] {
    padding:5px 5px;
    background:#FFC107;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
}
input[type=submit].remove_btn {
    background: #ff4d07;
}


.description-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 1.6;
}



.description p {
    margin-bottom: 15px; /* Отступ между абзацами */
}

.description ul {
    padding-left: 20px; /* Отступ слева для списка */
}

.description ul li {
    list-style-type: none; /* Убираем маркеры у списка */
    margin-bottom: 10px; /* Отступ между элементами списка */
}
